/* Hero Animation */
.animation-container {
    font-family: fantasy;
    text-align: left;
    height: 100px;
}

.animation-content::after {
    content: "|";
    animation: cursor-blink 0.7s infinite;
}

#typing-text {
    color: whitesmoke
}

@keyframes cursor-blink {
    0% {
        Opacity: 1;
    }

    50% {
        Opacity: 0;
    }

    100% {
        Opacity: 1;
    }
}

/* Project Card Animation */

.project-card{
    transition: transform 0.2s ease-in;
}

.project-card:hover{
    transform: translateY(-15px);
}

/* Transitions */
.hero {
    animation: slideInFromBottom 1s ease-in;
}

/* Keyframes */
@keyframes slideInFromLeft {
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0%{
        transform: translateY(-100%);
    }

    100%{
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    0%{
        transform: translateY(100%);
    }

    100%{
        transform: translateY(0);
    }
}